<div class="modal-backdrop" (click)="close()">

  <div class="modal" (click)="$event.stopPropagation()">

    <form (ngSubmit)="save()">

      <h2>Editar perfil</h2>
      <hr class="modal-divider">

      <!-- AVATAR PREVIEW -->
      <div class="avatar-section">

        <img
          [src]="selectedAvatarUrl || 'assets/img/default-avatar.png'"
          alt="Avatar"
          (click)="openAvatarModal()"
          class="clickable-avatar"
        />

      </div>

      <!-- INPUTS -->
      <div class="input-group">
        <label>Nombre</label>

        <input
          type="text"
          [(ngModel)]="firstName"
          name="firstName"
        />
      </div>

        <div class="input-group">
          <label>Primer apellido</label>

          <input
            type="text"
            [(ngModel)]="lastName1"
            name="lastName1"
          />
        </div>

        <div class="input-group">
          <label>Segundo apellido</label>

          <input
            type="text"
            [(ngModel)]="lastName2"
            name="lastName2"
          />
        </div>

      <div class="input-group">
        <label>Email</label>

        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          disabled
        />
      </div>

      <!-- ACTIONS -->
      <div class="actions">

        <button type="button" (click)="close()">
          Cancelar
        </button>

        <button type="submit">
          Guardar
        </button>

      </div>

    </form>

  </div>

</div>

@if (showAvatarModal) {
  <app-avatar-picker-modal
    (closeModal)="showAvatarModal = false"
    (select)="onAvatarSelected($event)"
  ></app-avatar-picker-modal>
}