<div class="register-page">
  <div class="register-card">

    <div class="register-header">
      <h1>Crear cuenta</h1>
      <p>Únete y empieza a gestionar todo desde un único lugar</p>
    </div>

    @if (errorMessage) {
      <div class="alert error">
        {{ errorMessage }}
      </div>
    }


    <form class="register-form" (ngSubmit)="register()">

      <div class="form-row">

        <div class="input-group">
          <label>Nombre *</label>
          <input type="text" [(ngModel)]="firstName" name="firstName" placeholder="Manuel" required />
        </div>

        <div class="input-group">
          <label>Primer apellido *</label>
          <input type="text" [(ngModel)]="lastName1" name="lastName1" placeholder="Romero" />
        </div>

        <div class="input-group">
          <label>Segundo apellido</label>
          <input type="text" [(ngModel)]="lastName2" name="lastName2" placeholder="Iglesias" />
        </div>

      </div>

      <div class="form-row">

        <div class="input-group">
          <label>Email * </label>
          <input type="email" [(ngModel)]="email" name="email" placeholder="ejemplo@email.com" required />
        </div>

        <div class="input-group">
          <label>Contraseña *</label>
          <div class="password-container">
            <input
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="password"
              name="password"
              required
              placeholder="••••••••"              
              minlength="6"
            />

            <button
              type="button"
              class="toggle-password"
              (click)="showPassword = !showPassword"
            >
              <i
                class="fas"
                [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
              ></i>
            </button>
          </div>
        </div>

        <div class="input-group">
          <label>Confirmar contraseña *</label>
          <div class="password-container">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
              placeholder="••••••••"
              required
            />

            <button
              type="button"
              class="toggle-password"
              (click)="showConfirmPassword = !showConfirmPassword"
            >
              <i
                class="fas"
                [ngClass]="showConfirmPassword  ? 'fa-eye-slash' : 'fa-eye'"
              ></i>
            </button>
          </div>

          @if (confirmPassword && password !== confirmPassword) {
            <small class="error">
              Las contraseñas no coinciden
            </small>
          }
        </div>

      </div>

      <button
        type="submit"
        class="btn-register"
        [disabled]="loading || password !== confirmPassword"
      >
        @if (loading) {
          <span class="spinner"></span>
          Creando cuenta...
        } @else {
          Crear cuenta
        }
      </button>

    </form>


    <div class="divider">
      <span>o</span>
    </div>

    <div class="login-section">
      <p>¿Ya tienes una cuenta?</p>

      <a routerLink="/login" class="login-link">
        Iniciar Sesión
      </a>
    </div>

  </div>
</div>