<nav class="navbar">
  <div class="navbar__container">

    <div
      class="navbar__user"
      (click)="openProfileModal()">

      <img
        class="navbar__avatar-img"
        [src]="profileService.profile()?.avatar_url || 'assets/img/default-avatar.png'"
        alt="Avatar">

      <div class="navbar__user-info">
        <span class="navbar__name">
          {{ getProfileName() }}
        </span>

        <span class="navbar__role">
          {{ profileService.profile()?.role | titlecase }}
        </span>
      </div>

    </div>

    <button
      type="button"
      class="navbar__toggle"
      (click)="toggleMenu()"
      aria-label="Abrir menú"
    >
      ☰
    </button>

    <ul
      class="navbar__menu"
      [class.navbar__menu--open]="menuOpen"
    >
      <li>
        <a
          routerLink="/dashboard/inicio"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()"
        >
          <i class="fas fa-house"></i>
        </a>
      </li>


      <li>
        <a
          routerLink="/proyectos"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          Proyectos
        </a>
      </li>

      <li>
        <a
          routerLink="/blog"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          Blog
        </a>
      </li>

      <li class="navbar__submenu">
        <a (click)="toggleSubmenu()" class="pointer">
          <i class="fas fa-cog"></i>
          <i
            class="fas"
            [class.fa-chevron-down]="!submenuOpen"
            [class.fa-chevron-up]="submenuOpen">
          </i>
        </a>

        <ul
          class="navbar__submenu-list"
          [class.navbar__submenu-list--open]="submenuOpen">

              @if (profileService.profile()?.role === 'admin') {
                <li>
                  <a
                    routerLink="/dashboard/usuarios"
                    routerLinkActive="active"
                    (click)="closeMenu()">

                    <i class="fas fa-users"></i>

                  </a>
                </li>
              }

          <li>
            <a routerLink="/soporte" (click)="closeMenu()">
              Soporte
            </a>
          </li>

          <li>
            <a routerLink="/faq" (click)="closeMenu()">
              FAQ
            </a>
          </li>

        </ul>
      </li>



      <li>
        <a
          class="pointer"
          (click)="logout()"
        >
          <i class="fas fa-power-off pointer"></i>
        </a>
      </li>

    </ul>

  </div>
</nav>

@if (showProfileModal) {
  <app-edit-profile-modal
    (closeModal)="closeProfileModal()"
  />
}